<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
            <li class="main-header__item home"><a class="<%= path === '/home' ? 'active' : '' %>" href="/home"><i class="fa fa-fw fa-home"></i> Home</a></li>
            <li class="main-header__item home"><a class="<%= path === '/remove' ? 'active' : '' %>" href="/remove"> Delete Product</a></li>
            <!--<li class="main-header__item home"><img src="/images/homeIcon.png" alt="A Book"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Home</a></li>-->
        </ul>
    </nav>
</header>